body {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 20px;
    color: #603c3c;
    line-height: 1.6;
    text-align: justify;
    background-color: #8c8484; 
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #2d2f30;
    margin-bottom: 20px;
    text-transform: uppercase;
}

a {
    color: #394951;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(32, 49, 25) !important; 
}

nav a {
    color: rgb(5, 3, 120);
    text-decoration: none;
}

p a {
    color: rgb(89, 129, 70) !important;
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
}

.special-paragraph {
    color: rgb(130, 128, 255);
    font-size: 20px;
    background-color: #fff3cd;
    padding: 15px;
    border-left: 5px solid darkblue;
    margin-top: 20px;
}

.alert-text {
    color: rgb(165, 10, 10);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

iframe {
    width: 80%;
    height: 500px;
    display: block;
    margin: 20px auto;
    border: 3px solid #2d2f30;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

ul {
    list-style-type: square;
    color: rgb(15, 70, 57);
    padding-left: 20px;
}

ol {
    list-style-type: upper-roman;
    color: rgb(12, 63, 30);
    padding-left: 30px;
}

dl dt {
    font-weight: bold;
    color: #170080;
}

dl dd {
    margin-left: 30px;
    color: rgb(9, 83, 48);
}

table {
    width: 80%;
    margin: 5px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
    text-align: center;
    font-size: 16px;
}

table th, table td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #808080;
    color: #17173b;
}

table tr:nth-child(even) {
    background-color: #2b0909;
}

table tr:hover {
    background-color: #292020;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
    font-size: 18px;
}
